@import 'tailwindcss/dist/base.min.css';

:root {
  --theme-red-bg-light: #FECACA; // colors.red.200
  --theme-red-bg: #FCA5A5; // colors.red.300
  --theme-red-light: #F87171; // colors.red.400
  --theme-red: #EF4444; // colors.red.500
  --theme-red-dark-most: #7F1D1D; // colors.red.700
  
  --theme-yellow-bg-light: #FEF08A; // colors.yellow.200
  --theme-yellow-bg: #FDE047; // colors.yellow.300
  --theme-yellow-light: #FDE047; // colors.yellow.400
  --theme-yellow: #EAB308; // colors.yellow.500
  --theme-yellow-dark-most: #A16207; // colors.yellow.700
  
  --theme-green-bg-light: #BBF7D0; // colors.green.200
  --theme-green-bg: #86EFAC; // colors.green.300
  --theme-green-light: #4ADE80; // colors.green.400
  --theme-green: #22C55E; // colors.green.500
  --theme-green-dark-most: #15803D; // colors.green.700
  
  --theme-gray-text: #4B5563;
  --theme-gray-text-light: #6B7280;
  --theme-gray-text-dark: #374151;
  --theme-gray-text-dark-most: #111827;
  
  --theme-radius: 8px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  min-height: 100vh;
  width: 100%;
}

#brand {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#notification {
  font-size: 1.6rem;
  
  .todo-count {
    font-weight: bold;
  }
}

.container {
  width: 100%;
  flex: 1;
  
  .todos {
    width: 88%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-around;
    }
  }
}

.todo-card {
  --todo-card-padding: .2rem .8rem;

  width: 100%;
  max-width: 420px;

  margin-bottom: 1rem;

  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    margin: 0 .3rem;
  }
  
  border-radius: var(--theme-radius);
  overflow: hidden;
  
  &--header {
    padding: var(--todo-card-padding);
    font-weight: bold;
  }
  
  &--content {
    padding: var(--todo-card-padding);
  }
  
  .todo-list {
    margin: .3rem 0;
    
    &-item {
      
      cursor: pointer;
      
      &:hover {
        .todo-list-item-title {
          color: var(--theme-gray-text-dark-most);
        }
        .todo-list-item-description {
          color: var(--theme-gray-text);
        }
      }
      
      &-title {
        font-weight: bold;
        font-size: 1rem;
        color: var(--theme-gray-text-dark);
        transition: all .2s linear;
      }
      
      &-description {
        color: var(--theme-gray-text-light);
      }
      
      margin-bottom: .5rem;
    }
  }

  $available-themes: 'red', 'yellow', 'green';

  @each $color in $available-themes {
    &.bg-#{$color} {
      .todo-card--header {
        background: var(--theme-#{$color}-light);    
        color: var(--theme-#{$color}-dark-most);
      }
      
      .todo-card--content {
        background: var(--theme-#{$color}-bg-light);
      }
    }
  }
}
